COINGECKO_API_KEY=
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
COINGECKO_KEY_HEADER=x-cg-demo-api-key

COINMARKETCAP_API_KEY=

DEFAULT_CURRENCY=usd
HISTORY_DAYS=max
OPTUNA_TRIALS=60
INCLUDE_BTC_ETH=1

# auto | true | false
USE_GPU=auto
